<font color='green'>

## 04. Pandas ile Bir Veri Seti 'DataFrame' Oluşturma

### Dataframe excel veri yapısına benzer bir veri tipidir.

### Veri manipülasyonu ve veri analizi konusunda pandas numoy'a göre daha iyidir. Numpy'ın sabit tek tip ataması zorlama bir işle yapısı olduğu için yapılacak işlemler de bir kalıba sokulmak zorunda olduğu için ileride bir takım sıkıntılar çıkarabilir.

### Matematiksel vektör ve matris uzayında işlemler yapılacak olduğunda pandas bile kullansak arkada numpy kullanmış oluruz.

### Numpy teorik yapılar için ,pandas dataframe yapısı ise daha analitik anlamda makine öğrenmesine vereceğimiz veri setleri olarak düşünebiliriz.

In [1]:
import pandas as pd

In [2]:
liste={10,20,30,40,50}

### Bu listeden bir dataframe oluşturalım :

In [3]:
pd.DataFrame(liste)

    0
0  40
1  10
2  50
3  20
4  30

### Görüldüğü üzere dataframe verisinde ilk sütun index'i verir.

### Oluşturduğumuz dataframe'in kolonuna 0 default olarak atıldı. Ancak biz kolona isim vermek istersek :

In [5]:
pd.DataFrame(liste,columns=["degisken_ismi"])

   degisken_ismi
0             40
1             10
2             50
3             20
4             30

### İki boyutlu bir seri üzerinden devam edelim :

In [6]:
import numpy as np

In [7]:
matris=np.arange(1,10).reshape((3,3))
matris

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

### DataFrame isimlendirmesi :

In [12]:
dataf=pd.DataFrame(matris,columns=["var1","var2","var3"])
dataf

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

### Değişken adlarını görmek için :

In [13]:
dataf.columns

Index(['var1', 'var2', 'var3'], dtype='object')

### Sonradan kolon isimlerini değiştirmek istersek :

In [14]:
dataf.columns=("a","b","c")
dataf

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

### [05. Pandas DataFrame Eleman İşlemleri notlarına geçmek için tıklayınız.](https://github.com/semihstp/Veri-Bilimi-Not-Defterim/blob/master/Pandas%20K%C3%BCt%C3%BCphanesi/05.%20Pandas%20DataFrame%20Eleman%20%C4%B0%C5%9Flemleri.ipynb)