<font color='green'>
    
## 06. Gözlem ve Değişken Seçimi (loc ve iloc)

In [1]:
import numpy as np
import pandas as pd

In [5]:
matris=np.random.randint(1,30, size=(10,3))
matris

array([[14,  5,  3],
       [15, 14,  4],
       [16,  4, 18],
       [23, 17, 12],
       [19,  9, 22],
       [20, 26, 26],
       [25, 28,  9],
       [26,  5,  5],
       [12, 10, 14],
       [ 2, 24,  8]])

### 1'den 30'a kadar int değer alabilen 10'a 3 matris

In [6]:
dataf=pd.DataFrame(matris,columns=["var1","var2","var3"])
dataf

   var1  var2  var3
0    14     5     3
1    15    14     4
2    16     4    18
3    23    17    12
4    19     9    22
5    20    26    26
6    25    28     9
7    26     5     5
8    12    10    14
9     2    24     8

### 3 tane değişken ve 10 tane gözlem değerimiz (satırımız) var.

### Önce loc yapısını ele alalım . 'loc' tanımlandığı şekli ile seçim yapmak için kullanılır.

In [7]:
dataf.loc[0:3]

   var1  var2  var3
0    14     5     3
1    15    14     4
2    16     4    18
3    23    17    12

### Veri setinin ilk halindeki index'lemeye sadık kalacak şekilde 0'dan 3'e kadar

### 'iloc' alışık olduğumuz index'leme mantığıyla seçim yapar.

## 'loc' ve 'iloc' farkı :

### yukarıdaki iki örnekte [0:3] değerleri girilmiştir. 'loc' ta girmiş olduğumuz her dğeri görmek istediğimizi bildirdiğimiz için 3 dahil iken 'iloc' 'ta 3'e kadar mantığı  olduğu için 3 dahil değildir.

### Biraz örnek yapalım :

In [9]:
dataf.iloc[0,0]

14

> **0.index'teki satırın 0.index'teki sütun ile kesiştiği yerdeki eleman**

In [10]:
dataf.iloc[:3,:2]

   var1  var2
0    14     5
1    15    14
2    16     4

> **Baştan 3.index'e kadar olan satırlar ve baştan 2.index'e kadar olan sütundaki veriler**

In [11]:
dataf.loc[0:3,"var3"]

0     3
1     4
2    18
3    12
Name: var3, dtype: int32

> **0.index'ten 3.index'e kadar 3.index dahil ve var3'ün kesiştiği elemanlar**

> **df.iloc[0:3,"var3"] dersek hata ile karşılaşırız. Nedeni ise değişken ya ad gözlem birimleri yani satırlarla ilgili mutlak bir değer işaretlemesi yapacaksak bu durumda 'loc' u kullanmamız gerekiyor.**

### Örneklere devam edelim :

In [13]:
dataf.iloc[0:3,1:3]

   var2  var3
0     5     3
1    14     4
2     4    18

In [14]:
dataf.iloc[0:3]

   var1  var2  var3
0    14     5     3
1    15    14     4
2    16     4    18

In [15]:
dataf.iloc[0:3]["var3"]

0     3
1     4
2    18
Name: var3, dtype: int32

### [07. Koşullu Eleman İşlemleri notlarına geçmek için tıklayınız.](https://github.com/semihstp/Veri-Bilimi-Not-Defterim/blob/master/Pandas%20K%C3%BCt%C3%BCphanesi/07.%20Ko%C5%9Fullu%20Eleman%20%C4%B0%C5%9Flemleri.ipynb)