<font color='green'>
    
## 07. Koşullu Eleman İşlemleri

In [1]:
import numpy as np
import pandas as pd

In [3]:
matris=np.random.randint(1,30, size=(10,3))
matris

array([[17, 23, 11],
       [17,  7, 29],
       [14, 29,  6],
       [25, 27, 17],
       [ 3,  2, 12],
       [24,  8, 18],
       [23, 17, 14],
       [13, 26,  2],
       [19,  5, 18],
       [10, 12, 15]])

> **1'den 30'a kadar int değer alabilen 10'a 3 matris**

In [4]:
dataf=pd.DataFrame(matris,columns=["var1","var2","var3"])
dataf

   var1  var2  var3
0    17    23    11
1    17     7    29
2    14    29     6
3    25    27    17
4     3     2    12
5    24     8    18
6    23    17    14
7    13    26     2
8    19     5    18
9    10    12    15

### 3 tane değişken ve 10 tane gözlem değerimiz (satırımız) var.

### 1.değişkendeki yani var1 sütunundaki değerlerin 10'dan büyük olma durumunu gözlemleyelim.

In [5]:
dataf[dataf.var1 > 15 ]

   var1  var2  var3
0    17    23    11
1    17     7    29
3    25    27    17
5    24     8    18
6    23    17    14
8    19     5    18

### Köşeli parantez ile elemanlara erişmek istediğimizi söyledik. İçerisine de istediğimiz şartı yazdık. Çıktı olarak da var1 içerisindeki 15'ten büyük olan değerleri ekrana bastırdık. Bir nevi filtreleme işlemi yaptık.

In [6]:
dataf[dataf.var1 > 15] ["var1"]

0    17
1    17
3    25
5    24
6    23
8    19
Name: var1, dtype: int32

### Aynı koşullu işlemi yaptık ancak çıktı olarak sadece var1 sütununu görmüş olduk.

### Birden fazla koşul girmek istersek :

In [9]:
dataf[(dataf.var1 >15 ) & (dataf.var3 <15)]

   var1  var2  var3
0    17    23    11
6    23    17    14

### İki koşulu sağlayanlar çıktı olarak göründü.

### İki tane değeri çıktı olarak koymak istersek :

In [15]:
dataf[(dataf.var1>15),["var1","var2"]]

TypeError: '(0     True
1     True
2    False
3     True
4    False
5     True
6     True
7    False
8     True
9    False
Name: var1, dtype: bool, ['var1', 'var2'])' is an invalid key

### Bu işlem görüldüğü üzere hatalı bir işlemdir. Çok karıştırılan bir sorundur. Doğrusu :

In [16]:
dataf.loc[(dataf.var1>15),["var1","var2"]]

   var1  var2
0    17    23
1    17     7
3    25    27
5    24     8
6    23    17
8    19     5

> **veya**

In [18]:
dataf[(dataf.var1>15)][["var1","var2"]]

   var1  var2
0    17    23
1    17     7
3    25    27
5    24     8
6    23    17
8    19     5

### Python'a "var1 değişkeninde değeri 15'ten büyük olan satırları al ve bu satırların sadece var1 ve var2 isimli değişkenlerini yaz." demiş olduk.

### [08. Birleştirme 'Join' İşlemleri notlarına geçmek için tıklayınız.](https://github.com/semihstp/Veri-Bilimi-Not-Defterim/blob/master/Pandas%20K%C3%BCt%C3%BCphanesi/08.%20Birle%C5%9Ftirme%20'Join'%20%C4%B0%C5%9Flemleri.ipynb)