<font color='green'>
    
### 12) İleri Toplulaştırma İşlemleri (Aggregate,filter,transform,apply)

### Bu notta sadece Aggregate ' i ele alacağız.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataf=pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
		      'degisken1' : [10,23,33,22,11,99],
		      'degisken2' : [100,253,333,262,111,969]},
		      columns = ['gruplar','degisken1','degisken2'])
dataf

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

### 'gruplar' değişkenine göre ortalama işlemi yapalım.

In [3]:
dataf.groupby("gruplar").mean()

         degisken1  degisken2
gruplar
A               16        181
B               17        182
C               66        651

### Sadece ortalama değil de min median ve max da hesaplayalım :

In [4]:
dataf.groupby("gruplar").aggregate(["min", np.median, max])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10     16  22       100    181  262
B              11     17  23       111    182  253
C              33     66  99       333    651  969

### Not :max ve min pandas'ın içinde bir fonksiyon olduğu için min fonksiyonunu çift tırnak içinde max fonksiyonunu ise direkt yazdık (iki yazılış şeklini de göstermiş olduk). Dışarıdan başka bir fonksiyon çağıracağımız zaman da 'np.median' ile ifade ettik. np.meadian'ı tırnak içinde ifade etmezsek 'AttributeError' hatası alırız.

### Aggregate gidiyor min ve max'ı pandas'tan alıyor,'np.median' olarak belirttiğimiz fonksiyonu ise numpy'dan çekeceğini anlıyor ve o kütüphaneden fonksiyonu alıyor.

### Yukarıdaki satırda python'a "veri setini 'gruplar'a göre böl,ben öyle bir işlem istiyorum kipandas'ta buna özel bir fonksiyon tanımalaması yok ve kendim, istediğim  bu istatistikleri özellikle belirtmem gerekli." dedik.

### Aynı veri setinden bu sefer başka bir örnek yapalım. 2 değişken için de 2 farklı istatistik hesaplayalım :

In [16]:
dataf.groupby("gruplar").aggregate({"degisken1":min, "degisken2":max})

         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969

### Görülebileceği üzere sözlük yapısından faydalandık.

### [13. filter notlarına geçmek için tıklayınız.](https://github.com/semihstp/Veri-Bilimi-Not-Defterim/blob/master/Pandas%20K%C3%BCt%C3%BCphanesi/13.%20filter.ipynb)