<font color='green'>
    
## 13. filter()

### Pandas dataframe'lerinin vektörel çalışma özelliklerinden yararlanarak değişkenlere koşullar koyarak filtreleme işlemleri yapmıştık. Bunların yanı sıra gerçek hayatta karşılaşabileceğimiz şu tip ihtiyaçlarımız olabiliyor : 
### -- Elimizde bir dataframe var ve bu dataframe'in değişkenlerinin herhangi birinin üzerinde bir koşul çalıştırmak istiyorum ama bu koşul öyle bir koşul ki pandas'ta yok ve fonksiyonu kendim tanımlayıp bunu bir koşulcasına dataframe'in içinde yer alan değişkenlerin üzerine göndermem gerekiyor. Kendi kişisel fonksiyonlarımızı bir filtreleme aracı olarak değişkenlerin üzerinde sorgulama işlemini filtre işlemiyle ele alalım.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataf=pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
		      'degisken1' : [10,23,33,22,11,99],
		      'degisken2' : [100,253,333,262,111,969]},
		      columns = ['gruplar','degisken1','degisken2'])
dataf

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

### 'gruplar'ı groupby ile gruba alalım ve sonrasında değişkenlerin standart sapmasını bulalım.

In [4]:
dataf.groupby("gruplar").std()

         degisken1   degisken2
gruplar
A         8.485281  114.551299
B         8.485281  100.409163
C        46.669048  449.719913

### 'def' fonksiyon tanımlamak için gerekliydi(define'ın kısaltılmışıdır). filter_func adında bir fonksiyon tanımlayalım ve bu fonksiyon içine x değişkenini alsın.

In [7]:
def filter_func(x):
    return x["degisken1"].std()>9

### degisken1'e göre standart sapmalar hesaplayalım. Standart sapması 9'dan büyük olan değerler gelecek şekilde olsun.

In [8]:
dataf.groupby("gruplar").filter(filter_func)

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

### NOT : Kısaca anlatmak gerekirse özel bir amaç için bir fonksiyon tanımlarsak 'filter' bize bu amacı gerçekleştirmek için tanımladığımız fonksiyonu içine alır ve veri setinde koşulun doğruluğuna göre işlemleri yaptırır.

### [14. transform notlarına geçmek için tıklayınız.](https://github.com/semihstp/Veri-Bilimi-Not-Defterim/blob/master/Pandas%20K%C3%BCt%C3%BCphanesi/14.%20transform.ipynb)