<font color='green'>
    
## 14) transform()

### Veri setimizin değişkenlerine bir dönüştürme işlemi yapmak ve bu dönüştürme işlemini de kendimiz bir fonksiyon aracılığıyla tanımlamak istiyoruz (daha doğrusu mecburuz).

### Mantığı 'filter' a oldukça benzer. Vektörel çalışan bir fonksiyondur. Sütun bazında değişkenler bazında bütün değişkenlerin üzerinde işlem yapabilmeyi sağlar. Fakat bu fonksiyonun özelliği bizim istemiş olduğumuz bir fonksiyonu değişkenlerin üzerinde çalıştırabilmesidir. (Lambda mimarisi oldukça kullanışlı olacaktır.)

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataf=pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
		      'degisken1' : [10,23,33,22,11,99],
		      'degisken2' : [100,253,333,262,111,969]},
		      columns = ['gruplar','degisken1','degisken2'])
dataf

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

## groupby() olmadan gözlemleyelim :

### Sadece degisken1 ve degisken2 yi almak için :

In [4]:
yeni_dataf=dataf.iloc[:,1:3]
yeni_dataf

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

### Her değişkenden ortalamasını almak için :

In [5]:
yeni_dataf.transform(lambda x: x-x.mean())
yeni_dataf

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

### Farklı bir fonksiyon kullanalım.

In [6]:
yeni_dataf.transform(lambda x: x-x.mean() / x.std())
yeni_dataf

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

### Bu fonksiyon veri setinin üzerinde gezinirken üstüne geldiği her elemanı ortalamadan çıkartır ve yine o elemanın standart sapmasına böler. x burada bir değişkendir ve gezilecek olan değişkenleri ifade eder.

### [15. apply notlarına geçmek için tıklayınız.](https://github.com/semihstp/Veri-Bilimi-Not-Defterim/blob/master/Pandas%20K%C3%BCt%C3%BCphanesi/15.%20apply.ipynb)