<font color='green'>
    
## 18. .csv ve .excel Dosyalarına Veri Yazma

### Bu derste Hava_durumu.csv verisi ile uğraşacağız. Veriyi elde etmek için [tıklayabilir](https://github.com/semihstp/Veri-Bilimi-Not-Defterim/blob/master/Pandas%20K%C3%BCt%C3%BCphanesi/Hava_durumu.csv) ya da benim Pandas Kütüphanesi klasörümden erişebilirsiniz.

### Öncelikle .csv'ye bakalım.

In [2]:
import pandas as pd

In [4]:
dataf= pd.read_csv("Hava_durumu.csv")
dataf

     Günler  Sıcaklık  Hissedilen
0  3/3/2020      16.0        18.0
1  3/4/2020      13.0        14.0
2  3/5/2020       NaN        16.0
3  3/6/2020       NaN         NaN
4  3/7/2020      16.0        12.0
5  3/8/2020      10.0         NaN
6  3/9/2020      10.0         6.0

In [9]:
dataf.to_csv('yeni.csv')

### 'new.csv' adında yeni bir excel dosyası oluşturduk. Bu excel dosyasının tüm bilgileri 'dataf' dataframe'inden alınmadır. Bir nevi kopyalama işlemi gibi düşüneniliriz.

### Çalıştığınız klasörü açarsanız orada 'yeni' adında bir .csv dosyası oluşturulduğunu göreceksiniz.

In [10]:
pd.read_csv("yeni.csv")

   Unnamed: 0    Günler  Sıcaklık  Hissedilen
0           0  3/3/2020      16.0        18.0
1           1  3/4/2020      13.0        14.0
2           2  3/5/2020       NaN        16.0
3           3  3/6/2020       NaN         NaN
4           4  3/7/2020      16.0        12.0
5           5  3/8/2020      10.0         NaN
6           6  3/9/2020      10.0         6.0

### Ancak çirkin bir görüntü oluştu. Index'leri kaldıralım.

In [12]:
dataf.to_csv('yeni.csv', index=False)
pd.read_csv("yeni.csv")

     Günler  Sıcaklık  Hissedilen
0  3/3/2020      16.0        18.0
1  3/4/2020      13.0        14.0
2  3/5/2020       NaN        16.0
3  3/6/2020       NaN         NaN
4  3/7/2020      16.0        12.0
5  3/8/2020      10.0         NaN
6  3/9/2020      10.0         6.0

### dataf veri setinden sadece 'Sıcaklık' sütununu kopyalamak istersem :

In [14]:
dataf.to_csv('yeni.csv', columns=['Sıcaklık'])
pd.read_csv("yeni.csv")

   Unnamed: 0  Sıcaklık
0           0      16.0
1           1      13.0
2           2       NaN
3           3       NaN
4           4      16.0
5           5      10.0
6           6      10.0

### Şimdi ise excel'e bakalım.

In [21]:
dataf.to_excel("yeni.xlsx")
pd.read_excel("yeni.xlsx")

   Unnamed: 0    Günler  Sıcaklık  Hissedilen
0           0  3/3/2020      16.0        18.0
1           1  3/4/2020      13.0        14.0
2           2  3/5/2020       NaN        16.0
3           3  3/6/2020       NaN         NaN
4           4  3/7/2020      16.0        12.0
5           5  3/8/2020      10.0         NaN
6           6  3/9/2020      10.0         6.0

### Yeniden daha güzel bir görüntü için index'leri ortadan kaldıralım.

In [23]:
dataf.to_excel("yeni.xlsx", index=False)
pd.read_excel("yeni.xlsx")

     Günler  Sıcaklık  Hissedilen
0  3/3/2020      16.0        18.0
1  3/4/2020      13.0        14.0
2  3/5/2020       NaN        16.0
3  3/6/2020       NaN         NaN
4  3/7/2020      16.0        12.0
5  3/8/2020      10.0         NaN
6  3/9/2020      10.0         6.0

### Aynı şekilde yine klasörümüze bakacak olursak 'yeni' adında bir excel dosyamız oluşmuş olacakır.

![](https://i.imgur.com/spgni04.jpg)

### [19. Boş 'Kayıp' Data ile Başa Çıkma 'fillna, dropna, interpolate' notlarına geçmek için tıklayınız.](https://github.com/semihstp/Veri-Bilimi-Not-Defterim/blob/master/Pandas%20K%C3%BCt%C3%BCphanesi/19.%20Bo%C5%9F%20'Kay%C4%B1p'%20Data%20ile%20Ba%C5%9Fa%20%C3%87%C4%B1kma%20'fillna%2C%20dropna%2C%20interpolate'.ipynb)