<font color='green'>
    
# 19) Boş (Kayıp) Data ile Başa Çıkma (fillna(), dropna(), interpolate())

## Öncelikle bu 3 fonksiyonun ne amaçla kullanıldıklarını bir cümle ile anlatalım.

**fillna() : Boş verileri parantez içine ne yazılırsa onun ile doldurur.**

**interpolate() : Boş veriyi önceki ve sonraki verilere göre oranlayarak(dört işlem ile) boş veriyi tahmin etmemizi sağlar.**

**dropna() : Tüm satırları gezer ve eğer bir veri bile eksik ise o satırı veri setinden siler.**

### Bu derste Hava_durumu.csv verisi ile uğraşacağız. Veriyi elde etmek için [tıklayabilir](https://github.com/semihstp/Veri-Bilimi-Not-Defterim/blob/master/Pandas%20K%C3%BCt%C3%BCphanesi/Hava_durumu.csv) ya da benim Pandas Kütüphanesi klasörümden erişebilirsiniz.

### Şimdi bu fonksiyonları sırasıyla görelim :

<font color='green'>

<font color='green'>

## 1) fillna() :

### Önce her zamanki gibi kütüphanemizi ekleyelim ve 'Hava_durumu.csv' veri setinin içindekileri geçtiğimiz derslerde gördüğümüz okuma komutu ile içinde ne varmış bakalım :

In [12]:
import pandas as pd
dataf=pd.read_csv("Hava_durumu.csv")
dataf

     Günler  Sıcaklık  Hissedilen
0  3/3/2020      16.0        18.0
1  3/4/2020      13.0        14.0
2  3/5/2020       NaN        16.0
3  3/6/2020       NaN         NaN
4  3/7/2020      16.0        12.0
5  3/8/2020      10.0         NaN
6  3/9/2020      10.0         6.0

### Bir satır seçelim ve o satırı görelim. Ben 'Günler' satırını görmek istiyorum ancak önce türüne bakalım.

In [13]:
type(dataf.Günler[0])

str

### String olduğundan dolayı içindeki verilere erişmek için :

In [14]:
dataf=pd.read_csv("Hava_durumu.csv", parse_dates=["Günler"])
type(dataf.Günler[0])

pandas._libs.tslibs.timestamps.Timestamp

> **Görüldüğü üzere veri tipimiz değişti.**

### Günler sütununu satır şeklinde alarak taloda görmek yani index yapmak istersek :

In [15]:
dataf.set_index('Günler', inplace=True)

> **Artık indexlerimiz 0-1-2.. yerine sırasıyla 'Günler' sütununun içindeki veriler oldu.**

### Şimdi ise NaN olarak belirtilen boş dataları istediğimiz string,int veya float veri tipinde dolduralım. Ben mantıklı olması açısından 0 ile dolduracağım.

In [8]:
yeni=dataf.fillna(0)
yeni

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05       0.0        16.0
2020-03-06       0.0         0.0
2020-03-07      16.0        12.0
2020-03-08      10.0         0.0
2020-03-09      10.0         6.0

> **Görüleceği üzere NaN boş verileri veri setinde 0'a eşitlendi.**

### Eğer veri setindeki tüm boş verilere değer atamak yerine sadece istediğimiz bir sütundaki boş verilere değer atamak veya farklı sütunlara farklı NaN değerleri atamak istersek sözlük yapısından faydalanırız.

In [9]:
yeni=dataf.fillna({'Sıcaklık':0, 'Hissedilen':'veri yok'})  
yeni

            Sıcaklık Hissedilen
Günler
2020-03-03      16.0         18
2020-03-04      13.0         14
2020-03-05       0.0         16
2020-03-06       0.0   veri yok
2020-03-07      16.0         12
2020-03-08      10.0   veri yok
2020-03-09      10.0          6

### Şimdi yeni değer atamasını üst değerdekini boştaki alt veriye eşitleyerek yapmayı görelim. Bir diğer deyişle boş veri,sütundaki kendinden önceki değeri alacaktır :

In [10]:
yeni=dataf.fillna(method="ffill")
yeni

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05      13.0        16.0
2020-03-06      13.0        16.0
2020-03-07      16.0        12.0
2020-03-08      10.0        12.0
2020-03-09      10.0         6.0

> **ffill aslında frontfill'in kısaltılmış halidir.**

![](https://i.imgur.com/cMq7FVL.jpeg)

### NOT : [Bu siteden](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) fillna() fonksiyonunun içine yazılabilecek fonksiyonları inceleyebilirsiniz.

### Önce yeniden veri setimizi hatırlayalım.

In [16]:
yeni=dataf.fillna(0)  
yeni

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05       0.0        16.0
2020-03-06       0.0         0.0
2020-03-07      16.0        12.0
2020-03-08      10.0         0.0
2020-03-09      10.0         6.0

### Örneğin bfill metodunu görelim.  (backfill'in kısaltılmışı)

In [49]:
yeni=dataf.fillna(method='bfill')
yeni

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05      16.0        16.0
2020-03-06      16.0        12.0
2020-03-07      16.0        12.0
2020-03-08      10.0         6.0
2020-03-09      10.0         6.0

### Görüldüğü üzere bu sefer boş veri kendinden öncekinden değil de kendinden sonrakinden veriyi kopyalar.

![](https://i.imgur.com/1q42Btb.jpg)

![](https://i.imgur.com/LaOoqxq.jpg)

### Örneğin axis methodunu inceleyelim.

In [50]:
yeni=dataf.fillna(method='bfill', axis='columns')
yeni

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05      16.0        16.0
2020-03-06       NaN         NaN
2020-03-07      16.0        12.0
2020-03-08      10.0         NaN
2020-03-09      10.0         6.0

### Görüldüğü üzere axis fonksiyonu x ekseni bazında boş veriyi, kendinden bir sonraki değere eşitliyor.

![](https://i.imgur.com/LaOoqxq.jpg)

![](https://i.imgur.com/LaOoqxq.jpg)

<font color='green'>

## 2) interpolate()

### Öncelikle veri setimizi hatırlayalım.

In [51]:
dataf

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05       NaN        16.0
2020-03-06       NaN         NaN
2020-03-07      16.0        12.0
2020-03-08      10.0         NaN
2020-03-09      10.0         6.0

In [52]:
yeni=dataf.interpolate()
yeni

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05      14.0        16.0
2020-03-06      15.0        14.0
2020-03-07      16.0        12.0
2020-03-08      10.0         9.0
2020-03-09      10.0         6.0

### Görüldüğü üzere önceki ve sonraki verilerin artış azalışına göre aritmetik ortalama alarak tahmin yapmamızı sağladı.

### [interpolate() 'in içine yazabileceğimiz fonksiyonları görmek için tıklayınız.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html)

### Grafik çıkaracağımız zaman daha iyi bir oranlama sağlaması için :

In [54]:
yeni=dataf.interpolate(method="time")
yeni

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05      14.0        16.0
2020-03-06      15.0        14.0
2020-03-07      16.0        12.0
2020-03-08      10.0         9.0
2020-03-09      10.0         6.0

<font color='green'>

## 3) dropna()

### Öncelikle veri setimizi hatırlayalım :

In [56]:
dataf

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05       NaN        16.0
2020-03-06       NaN         NaN
2020-03-07      16.0        12.0
2020-03-08      10.0         NaN
2020-03-09      10.0         6.0

In [55]:
yeni=dataf.dropna()
yeni

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-07      16.0        12.0
2020-03-09      10.0         6.0

### Görüldüğü üzere 1 tane bile boş veri olursa dropna() fonksiyonu direkt olarak tüm satırı sildi.

### Sadece içinde hiç veri bulunmayan satırları silmek istersek:

In [58]:
yeni=dataf.dropna(how="all")
yeni

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05       NaN        16.0
2020-03-07      16.0        12.0
2020-03-08      10.0         NaN
2020-03-09      10.0         6.0

### Başka bir yöntemle yapalım.

> **## İçerisinde en az 1 verisi olan satırları göster diyelim.**

In [59]:
yeni=dataf.dropna(thresh=1)
yeni

            Sıcaklık  Hissedilen
Günler
2020-03-03      16.0        18.0
2020-03-04      13.0        14.0
2020-03-05       NaN        16.0
2020-03-07      16.0        12.0
2020-03-08      10.0         NaN
2020-03-09      10.0         6.0

## Pandas Kütüphanesinin sonuna geldik. Umarım faydalı olmuştur.